<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/js/home/diary.js" defer></script>
  <title>Document</title>
</head>
<body>
  <input id = "id" type = "text"><br>
  <input userName = "userName" type = "text"><br>
  <input date = "date" type = "date"><br>
  <input title = "title" type = "text"><br>
  <input content = "content" type = "text">
</body>
</html>